@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
        background-color: red;
    }
    /* mac drag area */
    .mac {
        -webkit-app-region: drag;
        /* mac system font */
        font-family: -apple-system, BlinkMacSystemFont;
        font-weight: 600;
    }

    .invisible-scroll::-webkit-scrollbar {
        display: none;
    }
}